@sprite .galleries {
	gwt-image: "galleries";
	border: none;
}

@sprite .albums {
	gwt-image: "albums";
	border: none;
	margin-right: 0.5em;
}

@sprite .rPictures {
	gwt-image: "rPictures";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .lPictures {
	gwt-image: "lPictures";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .synchro {
	gwt-image: "synchro";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .camera {
	gwt-image: "camera";
	border: none;
	cursor: pointer;
	margin:auto;
}

.localPicture {	
	-webkit-box-pack: center; 
	-webkit-box-align: center;
}