body {

  background: transparent url(im.png) left bottom no-repeat fixed;
  min-height: 220px;
  padding-right: 130px;
  padding-left: 1em;
  color: #333;
  font-family: 'Ubuntu', cursive, Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;

}

.tchat-header {
  color: grey;
}

.logout {
  display: none;
}

#jsxc_toggleRoster {
  background-color: rgba(153, 153, 153, 0.5);
}

.jsxc_onlineHelp, .jsxc_settings, .jsxc_about, .jsxc_addBuddy, .jsxc_joinChat {
  display: none;
}