<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

  <filter>
    <filter-name>mobilFilter</filter-name>
    <filter-class>com.silverpeas.bridge.MobilFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>mobilFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>manifestServlet</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.servlets.ManifestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>manifestServlet</servlet-name>
    <url-pattern>/spmobil.appcache</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>serviceNewsImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceNewsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceNewsImpl</servlet-name>
    <url-pattern>/services/spmobile/News</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceTasksImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceTasksImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceTasksImpl</servlet-name>
    <url-pattern>/services/spmobile/Tasks</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceSearchImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceSearchImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceSearchImpl</servlet-name>
    <url-pattern>/services/spmobile/Search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceRSEImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceRSEImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceRSEImpl</servlet-name>
    <url-pattern>/services/spmobile/RSE</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceNavigationImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceNavigationImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceNavigationImpl</servlet-name>
    <url-pattern>/services/spmobile/Navigation</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceMediaImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceMediaImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceMediaImpl</servlet-name>
    <url-pattern>/services/spmobile/Media</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceDocumentsImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceDocumentsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceDocumentsImpl</servlet-name>
    <url-pattern>/services/spmobile/Documents</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceCommentsImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceCommentsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceCommentsImpl</servlet-name>
    <url-pattern>/services/spmobile/Comments</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceConnectionImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceConnectionImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceConnectionImpl</servlet-name>
    <url-pattern>/AuthenticationServlet/spmobile/Connection</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceContactImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceContactImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceContactImpl</servlet-name>
    <url-pattern>/services/spmobile/Contact</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceDashboardImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceDashboardImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceDashboardImpl</servlet-name>
    <url-pattern>/services/spmobile/Dashboard</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceAlmanachImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceAlmanachImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceAlmanachImpl</servlet-name>
    <url-pattern>/services/spmobile/Almanach</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceNotificationsImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceNotificationsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceNotificationsImpl</servlet-name>
    <url-pattern>/services/spmobile/Notifications</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AttachmentServlet</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.servlets.AttachmentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AttachmentServlet</servlet-name>
    <url-pattern>/services/spmobile/Attachment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PublicationContentServlet</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.servlets.PublicationContentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PublicationContentServlet</servlet-name>
    <url-pattern>/services/spmobile/PublicationContent</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MediaServlet</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.servlets.MediaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MediaServlet</servlet-name>
    <url-pattern>/RwebPages/AuthenticationServlet/spmobile/MediaAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SoundServlet</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.servlets.SoundServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>SoundServlet</servlet-name>
    <url-pattern>/services/spmobile/SoundAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.servlets.VideoServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/services/spmobile/VideoAction</url-pattern>
  </servlet-mapping>


  <listener>
    <listener-class>com.silverpeas.mobile.server.servlets.SessionManager</listener-class>
  </listener>

</web-app>

