.closing-page {
    transition: transform 300ms;
    transform: translateX(+100%);
}

.opening-page {
    transition: transform 300ms;
    transform: translateX(-100%);
}

.open-qvf-menu {
    opacity: 1.0;
    transition: opacity 250ms linear;
}

.closed-qvf-menu {
    opacity: 0.0;
    transition: opacity 250ms linear;
}

