
/** Checkbox **********************************************************************************************************/

.checkbox-wrapper {
    display : inline-grid;
    vertical-align : middle;
}

.checkbox-wrapper input[type=checkbox] {
    height: 0;
    width: 0;
    display: none;
}

.checkbox-wrapper label {
    --size: 4em;

    cursor: pointer;
    width: var(--size);
    height: calc(var(--size) / 2);
    background: black;
    display: block;
    border-radius: 0.25em;
    position: relative;
}

.checkbox-wrapper label:after {
    content: '';
    position: absolute;
    top: 6%;
    left: 2.5%;
    width: calc(50% - 5%);
    height: calc(100% - 10%);
    background: #fff;
    border-radius: 0.25em;
    transition: 0.3s;
}

.checkbox-wrapper input:checked + label {
    /*background: #bada55;*/
    background: linear-gradient(#7eb73a, #6fa800) repeat scroll 0 0 #6fa800;
}

.checkbox-wrapper input:checked + label:after {
    left: calc(100% - 2.5%);
    transform: translateX(-100%);
}

.checkbox-wrapper label:active:after {
    width: 55%;
}

/** Menu **************************************************************************************************************/

#header > .box {
    border-radius: 2px;
    position: absolute;
    left:12px;
    top:12px;
    width: 30px;
    height: 30px;
}


#header > div > div > span {
    display: block;
    width: 100%;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);
    border-radius: 1px;
    height: 4px;
    background: #fff;
    transition: all .3s;
    position: relative;
}

#header > div > div > span + span {
    margin-top: 5px;
}

.active span:nth-child(1) {
    animation: ease .7s top forwards;
}

.not-active span:nth-child(1) {
    animation: ease .7s top-2 forwards;
}

.active span:nth-child(2) {
    animation: ease .7s scaled forwards;
}

.not-active span:nth-child(2) {
    animation: ease .7s scaled-2 forwards;
}

.active span:nth-child(3) {
    animation: ease .7s bottom forwards;
}

.not-active span:nth-child(3) {
    animation: ease .7s bottom-2 forwards;
}

@keyframes top {
    0% {
        top: 0;
        transform: rotate(0);
    }
    50% {
        top: 9px;;
        transform: rotate(0);
    }
    100% {
        top: 9px;;
        transform: rotate(45deg);
    }
}

@keyframes top-2 {
    0% {
        top: 9px;;
        transform: rotate(45deg);
    }
    50% {
        top: 9px;;
        transform: rotate(0deg);
    }
    100% {
        top: 0;
        transform: rotate(0deg);
    }
}

@keyframes bottom {
    0% {
        bottom: 0;
        transform: rotate(0);
    }
    50% {
        bottom: 9px;;
        transform: rotate(0);
    }
    100% {
        bottom: 9px;;
        transform: rotate(135deg);
    }
}

@keyframes bottom-2 {
    0% {
        bottom: 9px;;
        transform: rotate(135deg);
    }
    50% {
        bottom: 9px;;
        transform: rotate(0);
    }
    100% {
        bottom: 0;
        transform: rotate(0);
    }
}

@keyframes scaled {
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes scaled-2 {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/***** Range input ***************/

input[type="range"] {
    height: 5px;
    -webkit-appearance: none;
    background: rgb(197, 197, 197);
    outline: none;
    color: rgb(197, 197, 197);

}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #6fa800;
    cursor: pointer;
}

.readonly input[type="range"] {
    height: 1em;
}

.readonly input[type="range"]::-webkit-slider-thumb {
    width: 0px;
    height: 0px;
}

/***** Snackbar ***************/

#snackbar {
    visibility: hidden;
    min-width: 90%;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    font-size: 17px;
    border-radius: 4px;
}

#snackbar.warning {
    background-color: orange;
}

#snackbar.error {
    background-color: red;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein-snackbar 0.5s, fadeout-snackbar 0.5s 2.5s;
    animation: fadein-snackbar 0.5s, fadeout-snackbar 0.5s 2.5s;
}

#snackbar.show-static {
    visibility: visible;
    display: flex;
    align-items: center;
}

#snackbar.show-static .close {
    float: right;
    fill : #FFF;
    user-select: none;
    margin-left: 1em;
}

#snackbar.show-static .snackbar-message {
    text-align: left;
}

#snackbar.show-static .snackbar-actions {
    position: absolute;
    right: 16px;
}

#snackbar.show-static .yes {
    background-color: var(--main-color);
    padding: 0.5em;
    margin-left: 0.5em;
    border-radius: 4px;
    color: var(--white);
}

#snackbar.show-static .no {
    background-color: var(--main-color);
    padding: 0.5em;
    margin-left: 0.5em;
    border-radius: 4px;
    color: var(--white);
}


@-webkit-keyframes fadein-snackbar {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@keyframes fadein-snackbar {
    from {bottom: 0; opacity: 0;}
    to {bottom: 50px; opacity: 1;}
}

@-webkit-keyframes fadeout-snackbar {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout-snackbar {
    from {bottom: 50px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}