<?xml version="1.0" encoding="ISO-8859-1"?>

<!--
  ~ Copyright (C) 2000 - 2020 Silverpeas
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 3 of the
  ~ License, or (at your option) any later version.
  ~
  ~ As a special exception to the terms and conditions of version 3.0 of
  ~ the GPL, you may redistribute this Program in connection with Free/Libre
  ~ Open Source Software ("FLOSS") applications as described in Silverpeas's
  ~ FLOSS exception.  You should have received a copy of the text describing
  ~ the FLOSS exception, and it is also available here:
  ~ "http://www.silverpeas.org/docs/core/legal/floss_exception.html"
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<web-app>

  <filter>
    <filter-name>mobilFilter</filter-name>
    <filter-class>org.silverpeas.bridge.MobilFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>

  <filter-mapping>
    <filter-name>mobilFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>appInitServlet</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.servlets.AppInitServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>appInitServlet</servlet-name>
    <url-pattern>/spmobile/app-init.js</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>appServiceWorkerServlet</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.servlets.AppServiceWorkerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>appServiceWorkerServlet</servlet-name>
    <url-pattern>/spmobile/app-sw.js</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>manifestServlet</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.servlets.ManifestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>manifestServlet</servlet-name>
    <url-pattern>/spmobile/manifest.json</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceWorkflowImpl</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.services.ServiceWorkflowImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceWorkflowImpl</servlet-name>
    <url-pattern>/services/spmobile/Workflow</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceSurveyImpl</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.services.ServiceSurveyImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceSurveyImpl</servlet-name>
    <url-pattern>/services/spmobile/Survey</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceSearchImpl</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.services.ServiceSearchImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceSearchImpl</servlet-name>
    <url-pattern>/services/spmobile/Search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceNavigationImpl</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.services.ServiceNavigationImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceNavigationImpl</servlet-name>
    <url-pattern>/services/spmobile/Navigation</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceMediaImpl</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.services.ServiceMediaImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceMediaImpl</servlet-name>
    <url-pattern>/services/spmobile/Media</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceDocumentsImpl</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.services.ServiceDocumentsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceDocumentsImpl</servlet-name>
    <url-pattern>/services/spmobile/Documents</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceConnectionImpl</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.services.ServiceConnectionImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceConnectionImpl</servlet-name>
    <url-pattern>/AuthenticationServlet/spmobile/Connection</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceContactImpl</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.services.ServiceContactImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceContactImpl</servlet-name>
    <url-pattern>/services/spmobile/Contact</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceNotificationsImpl</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.services.ServiceNotificationsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceNotificationsImpl</servlet-name>
    <url-pattern>/services/spmobile/Notifications</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PublicationContentServlet</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.servlets.PublicationContentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PublicationContentServlet</servlet-name>
    <url-pattern>/services/spmobile/PublicationContent</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MediaServlet</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.servlets.MediaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MediaServlet</servlet-name>
    <url-pattern>/services/spmobile/MediaAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AvatarServlet</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.servlets.AvatarServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AvatarServlet</servlet-name>
    <url-pattern>/services/spmobile/AvatarAction</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FormServlet</servlet-name>
    <servlet-class>org.silverpeas.mobile.server.servlets.FormServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>FormServlet</servlet-name>
    <url-pattern>/services/spmobile/FormAction</url-pattern>
  </servlet-mapping>

  <listener>
    <listener-class>org.silverpeas.mobile.server.servlets.SessionManager</listener-class>
  </listener>

</web-app>

