<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2000 - 2011 Silverpeas

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    As a special exception to the terms and conditions of version 3.0 of
    the GPL, you may redistribute this Program in connection with Free/Libre
    Open Source Software ("FLOSS") applications as described in Silverpeas's
    FLOSS exception.  You should have received a copy of the text describing
    the FLOSS exception, and it is also available here:
    "http://www.silverpeas.com/legal/licensing"

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
  <servlet>
  	<servlet-name>serviceRSEImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceRSEImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceRSEImpl</servlet-name>
  	<url-pattern>/spmobil/RSE</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serviceNavigationImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceNavigationImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceNavigationImpl</servlet-name>
  	<url-pattern>/spmobil/Navigation</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serviceGalleryImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceGalleryImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceGalleryImpl</servlet-name>
  	<url-pattern>/spmobil/Gallery</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serviceDocumentsImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceDocumentsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceDocumentsImpl</servlet-name>
  	<url-pattern>/spmobil/Documents</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serviceConnectionImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceConnectionImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceConnectionImpl</servlet-name>
  	<url-pattern>/spmobil/Connection</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serviceContactImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceContactImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceContactImpl</servlet-name>
  	<url-pattern>/spmobil/Contact</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serviceAgendaImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceAgendaImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceAgendaImpl</servlet-name>
  	<url-pattern>/spmobil/Agenda</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serviceDashboardImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceDashboardImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceDashboardImpl</servlet-name>
  	<url-pattern>/spmobil/Dashboard</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>spmobil.html</welcome-file>
  </welcome-file-list>

</web-app>
