<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

  <servlet>
    <servlet-name>serviceNewsImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceNewsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceNewsImpl</servlet-name>
    <url-pattern>/spmobil/News</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceTasksImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceTasksImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceTasksImpl</servlet-name>
    <url-pattern>/spmobil/Tasks</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceSearchImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceSearchImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceSearchImpl</servlet-name>
    <url-pattern>/spmobil/Search</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceRSEImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceRSEImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceRSEImpl</servlet-name>
    <url-pattern>/spmobil/RSE</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceNavigationImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceNavigationImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceNavigationImpl</servlet-name>
    <url-pattern>/spmobil/Navigation</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceMediaImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceMediaImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceMediaImpl</servlet-name>
    <url-pattern>/spmobil/Media</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceDocumentsImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceDocumentsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceDocumentsImpl</servlet-name>
    <url-pattern>/spmobil/Documents</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceCommentsImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceCommentsImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceCommentsImpl</servlet-name>
    <url-pattern>/spmobil/Comments</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceConnectionImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceConnectionImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceConnectionImpl</servlet-name>
    <url-pattern>/spmobil/Connection</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceContactImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceContactImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceContactImpl</servlet-name>
    <url-pattern>/spmobil/Contact</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceDashboardImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceDashboardImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceDashboardImpl</servlet-name>
    <url-pattern>/spmobil/Dashboard</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>serviceAlmanachImpl</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.services.ServiceAlmanachImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceAlmanachImpl</servlet-name>
    <url-pattern>/spmobil/Almanach</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AttachmentServlet</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.servlets.AttachmentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AttachmentServlet</servlet-name>
    <url-pattern>/spmobil/Attachment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MediaServlet</servlet-name>
    <servlet-class>com.silverpeas.mobile.server.servlets.MediaServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MediaServlet</servlet-name>
    <url-pattern>/spmobil/MediaAction</url-pattern>
  </servlet-mapping>


  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>spmobil.html</welcome-file>
  </welcome-file-list>

</web-app>
