#treeView {
	position: relative;
	float: left;
	/*height: 500px;*/
	width: 90%;
	padding-right: 15px;
	border-left: solid 1px #222222;
	border-top: solid 1px #222222;
	border-right: solid 2px #000000;
	border-bottom: solid 2px #000000;
	background-color: #FFFFFF;
}

#DragAndDrop: {
	position: relative;
	background-color: #A6A6A6;
	border: 1px solid #A6A6A6;
	padding: 0px;
	width: 100%;
	vertical-align: top;
	-moz-border-radius: 4px 4px 4px 4px;
}

#DnD {
	margin-bottom: 10px;
}

#dNdActionLabel:hover {
	color: #4A7EBB;
}

#pubList {
	position: relative;
	float: left;
	width: 90%;
}

.icon-basket {
	display: block;
	height: 22px;
	padding-left: 18px;
	padding-top: 2px;
	background: transparent url('../img/treeview/basket.jpg') no-repeat -1px 0px;
}

.documentsCount {
	color: #666666;
	/*font-size: 11px;*/
}

div.yuimenu {
	position: dynamic;
	visibility: hidden;
}

.ygtvfocus {
	background-color: transparent;
	border: none;
}

.ygtvfocus .ygtvlabel,
.ygtvfocus .ygtvlabel:link,
.ygtvfocus .ygtvlabel:visited,
.ygtvfocus .ygtvlabel:hover {
	background-color: transparent;
}

.ygtvfocus a {
	outline-style: none;
}

.ygtvcell .ygtvcontent .ygtvfocus {
	background-color: red;
}

.ygtvcell .ygtvtm .ygtvfocus {
	background-color: red;
}

.ygtv-highlight .ygtv-highlight0 .ygtvfocus .ygtvlabel,
.ygtv-highlight .ygtv-highlight1 .ygtvfocus .ygtvlabel,
.ygtv-highlight .ygtv-highlight2 .ygtvfocus .ygtvlabel {
	background-color: red;
}

.jWin {
	top: 100px;
	width: 700px;
	min-height: 100px;
}

.publications {
	list-style: none;
	margin-left: 10px;
}

.publication {
	margin-left: -3px;
	margin-bottom: 8px;
	background-color: #E3E3E3;
	border-left: solid 1px #222222;
	border-top: solid 1px #222222;
	border-right: solid 2px #000000;
	border-bottom: solid 2px #000000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 100%;
}

.fileTitle {
	font-size: 14px;
	font-variant: small-caps;
}

.fileDescription {
	font-style: italic;
}

.fileImage {
	width: 36px;
	text-align: right;
	vertical-align: top;
}

.fileSize {
	font-size: 11px;
}

.fileActor {
	font-size: 11px;
	white-space: nowrap;
}

.dropCell1 {
	width: 100%;
}

.dropCell2 {
	padding: 0px 10px 0px 10px;
	white-space: nowrap;
	
}

.dropCell2 a {
	color: #024579;
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
}

.dropCell2 a:hover {
	color: #4A7EBB;
}

.dropCell2 img {
	width: 24px;
	height: 24px;
}

#DropZone {
	/*display: none;*/
}
.noDocuments {
	font-style: italic;
	margin-left: 20px;
}