@sprite .msword {
	gwt-image: "msword";
}

@sprite .msexcel {
	gwt-image: "msexcel";	
}

@sprite .mspowerpoint {
	gwt-image: "mspowerpoint";
}

@sprite .pdf {
	gwt-image: "pdf";	
}

@sprite .image {
	gwt-image: "image";	
}

@sprite .unknown {
	gwt-image: "unknown";		
}