@sprite .contacts {
	gwt-image: "contacts";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .documents {
	gwt-image: "documents";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .status {
	gwt-image: "status";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .dashboard {
	gwt-image: "dashboard";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .gallery {
	gwt-image: "gallery";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .agenda {
	gwt-image: "agenda";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .bookmark {
	gwt-image: "bookmark";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .notifications {
	gwt-image: "notifications";
	border: none;
	cursor: pointer;
	margin:auto;
}

.icon {
 	-webkit-box-pack: center;
	-webkit-box-align: center;
	display: -webkit-box;
}

@sprite .logo {
	gwt-image: "logo";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .offline {
	gwt-image: "offline";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .online {
	gwt-image: "online";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .sync {
	gwt-image: "sync";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .settings {
	gwt-image: "settings";
	border: none;
	cursor: pointer;
	margin:auto;
}

@sprite .localstorage {
	gwt-image: "localstorage";
	border: none;
	cursor: pointer;
	margin:auto;
}

.selected {
	background-color: white;
	opacity: 0.5;
	border-radius: 5px;
}

.footer {
	font-weight: bold;
}

.inactive {
	opacity:0.4;	
}


.popup {
	background-color: white;
	color : black;
	text-align: center;
	-webkit-border-radius: 5px;
}