<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
  <servlet>
  	<servlet-name>serviceRSEImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceRSEImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceRSEImpl</servlet-name>
  	<url-pattern>/spmobil/RSE</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serviceConnectionImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceConnectionImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceConnectionImpl</servlet-name>
  	<url-pattern>/spmobil/Connection</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serviceContactImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceContactImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceContactImpl</servlet-name>
  	<url-pattern>/spmobile/Contact</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>serviceAgendaImpl</servlet-name>
  	<servlet-class>com.silverpeas.mobile.server.services.ServiceAgendaImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>serviceAgendaImpl</servlet-name>
  	<url-pattern>/spomobil/Agenda</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>spmobil.html</welcome-file>
  </welcome-file-list>

</web-app>
